body { 
    display: flex;
    flex-direction: column;
    background-color: white;
    min-height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
} 

.top {
    color: white;
    background-color: #1F2937;
    flex: 1 1 0px;
    padding: 10px 180px 0px; 
}


ul {
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    padding-left: 12px; ;
}

img {
    width: 10%;
    height: auto;
}

.header {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.subtext-font {
    font-size: 12px;
    color: #E5E7EB;
}

.awesome {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}

.title-side {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}


.info {
    background-color: white;
    flex: 1 1 0px;
}

.quote {
    background-color: #e5e7eb;
    flex: 1 1 0px;
}

.bottom {
    background-color: white;
    flex: 1 1 0px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    background-color: #2882F6;
    padding: 20px 30px;
    margin: auto;
}

.footer {
    background-color: #1F2937;
    color: white;
    text-align: center;
}