body { 
    display: flex;
    flex-direction: column;
    background-color: white;
    min-height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
} 

.top {
    color: white;
    background-color: #1F2937;
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


ul {
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    padding-left: 12px; 
}

h2 {
    text-align: center;
}

.shanghai-img {
    width: 360px;
    height: 110.25px;
}

.header {
    font-size: 12px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    width: 720px; 
}

p {
    margin: 0;
}

.subtext-font {
    font-size: 10px;
    color: #E5E7EB;
    margin-top: 8px;
    margin-bottom: 8px;
}

.awesome {
    display: flex;
    width: 720px;
    margin-top: auto;
    margin-bottom: auto;
}

.title-side {
    font-size: 36px;
    font-weight: bolder;
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: auto;
    margin-bottom: auto;
    flex: 1 1 0px; 
}

.image-side {
    flex: 1 1 0px; 
    display: flex;
    justify-content: flex-end;
}

button {
    background-color: #3882F6;
    color: white;
    font-weight: 600;
    border-radius: 4px;
    border: transparent;
    padding: 4px 16px;
    font-size: 10px;
}

.random-img {
    width: 140px; 
    height: 100px;
    border-radius: 8px; 
}

.images-row {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.image-text {
    width: 140px;
}

.image-text .subtext-font {
    color: #1F2937;;
    text-align: center;
}

.sign-up {
    align-self: flex-start;
}

.info {
    background-color: white;
    flex: 1 1 0px;
}

.middle {
    background-color: #e5e7eb;
    flex: 1 1 0px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.quote {
    font-size: 25px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    width: 640px;   
}

h6 {
    margin: 0;
    font-style: normal;
    text-align: right;
    margin-right: 36px;
}

.bottom {
    background-color: white;
    flex: 1 1 0px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    background-color: #2882F6;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 120px;
    color: #F9FAF8;
    font-size: 9px;
    gap: 150px; 
    border-radius: 4px;
}


.container .sign-up {
    border: 1px solid #F9FAF8;
}

.action-header {
    margin: 0;
    font-size: 12px;
}

.footer {
    background-color: #1F2937;
    color: white;
    text-align: center;
}